<?xml version="1.0" encoding="utf-8"?>
    <manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.neurolearning">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NEUROLEARNING"

        tools:targetApi="31">

        <activity
            android:name="com.example.neurolearning.ui.SignUpActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.neurolearning.ui.SignInActivity"
            android:exported="false"/>

        <activity
            android:name="com.example.neurolearning.ui.NeighborBookActivity"
            android:label="NeighborBook"
            android:exported="true" />


        <activity
            android:name="com.example.neurolearning.ui.UserInfoActivity"
            android:label="UserInfo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 스토리 리스트 (홈) -->
        <activity android:name="com.example.neurolearning.ui.StoryActivity" android:exported="true" />

        <!-- 스토리1 상세 / 십자말풀이 게임 진입 화면 -->
        <activity android:name="com.example.neurolearning.ui.Story1Activity" android:exported="true" />
        <!-- 가위바위보 게임 화면 -->
        <activity android:name="com.example.neurolearning.ui.CrossWordGameActivity" android:exported="true" />

        <!-- 스토리2 상세 / 가위바위보 게임 진입 화면 -->
        <activity android:name="com.example.neurolearning.ui.Story2Activity" android:exported="true" />
        <!-- 가위바위보 게임 화면 -->
        <activity android:name="com.example.neurolearning.ui.RspGameActivity" android:exported="true" />

        <!-- 스토리3 상세 / 가위바위보 게임 진입 화면 -->
        <activity android:name="com.example.neurolearning.ui.Story3Activity" android:exported="true" />
        <!-- 키오스크 게임 화면 -->
        <activity android:name="com.example.neurolearning.ui.KioskGameActivity" android:exported="true" />



    </application>
</manifest>
